packages/DotNetZip.1.10.1/DotNetZip.1.10.1.nupkg
packages/DotNetZip.1.10.1/lib/net20/DotNetZip.dll
_install/krkacina/DotNetZip.dll
_install/krkacina/DotNetZip.xml
_install/krkacina/Dropbox.Api.dll
_install/krkacina/Dropbox.Api.xml
_install/krkacina/MoreLinq.dll
_install/krkacina/MoreLinq.xml
_install/krkacina/Newtonsoft.Json.dll
_install/krkacina/Newtonsoft.Json.xml
_install/krkacina/SQLite-net.dll
_install/krkacina/SQLite-net.xml
_install/krkacina/SQLitePCLRaw.batteries_green.dll
_install/krkacina/SQLitePCLRaw.core.dll
_install/krkacina/SQLitePCLRaw.provider.e_sqlite3.dll
_install/krkacina/Sinantrop.Db.SQLite.dll
_install/krkacina/Sinantrop.Db.SQLite.pdb
_install/krkacina/Sinantrop.Helper.dll
_install/krkacina/Sinantrop.Helper.pdb
_install/krkacina/Sinantrop.IMV.Sync.dll
_install/krkacina/Sinantrop.IMV.Sync.pdb
_install/krkacina/Sinantrop.IMV.Uploader.Service.exe
_install/krkacina/Sinantrop.IMV.Uploader.Service.exe.config
_install/krkacina/Sinantrop.IMV.Uploader.Service.pdb
_install/krkacina/Sinantrop.IMV.dll
_install/app/Sinantrop.IMV.UI.exe
_install/app/Sinantrop.IMV.UI.exe.config
_install/app/Sinantrop.IMV.UI.pdb
_install/app/Sinantrop.IMV.UI.vshost.exe
_install/app/Sinantrop.IMV.dll
_install/app/Sinantrop.IMV.pdb
_install/app/Sinantrop.Logger.dll
_install/app/Sinantrop.Logger.pdb
_install/app/System.Data.SQLite.dll
_install/app/System.Data.SQLite.xml
_install/app/_imvresults/38762121990/main.db
_install/app/_imvresults/nanda.sinantrop/main.db
_install/app/x64/SQLite.Interop.dll
_install/app/x64/e_sqlite3.dll
_install/app/x86/SQLite.Interop.dll
_install/app/x86/e_sqlite3.dll
_install/krkacina/Sinantrop.IMV.pdb
_install/krkacina/Sinantrop.Logger.dll
_install/krkacina/Sinantrop.Logger.pdb
_install/krkacina/System.Data.SQLite.dll
_install/krkacina/System.Data.SQLite.xml
_install/krkacina/x64/SQLite.Interop.dll
packages/Dropbox.Api.4.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Dropbox.Api.xml
packages/Newtonsoft.Json.7.0.1/Newtonsoft.Json.7.0.1.nupkg
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
_install/app/Newtonsoft.Json.dll
_install/app/Newtonsoft.Json.xml
_install/app/ObjectListView.dll
_install/app/ObjectListView.pdb
_install/app/OnlineData.db3
_install/app/SQLite-net.dll
_install/app/SQLite-net.xml
_install/app/SQLitePCLRaw.batteries_green.dll
_install/app/SQLitePCLRaw.core.dll
_install/app/SQLitePCLRaw.provider.e_sqlite3.dll
_install/app/Sinantrop.Db.SQLite.dll
_install/app/Sinantrop.Db.SQLite.pdb
_install/app/Sinantrop.Helper.dll
_install/app/Sinantrop.Helper.pdb
_install/app/Sinantrop.IMV.Downloader.exe
_install/app/Sinantrop.IMV.Downloader.pdb
_install/app/Sinantrop.IMV.Sync.dll
_install/app/Sinantrop.IMV.Sync.pdb
_install/krkacina/x64/e_sqlite3.dll
_backup/
_install/krkacina/
_install/app/
packages/
Sinantrop.IMV/Sinantrop.IMV.csproj.user
